@model BanVeMayBay.Common.Userlogin
<div class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">
        <div class="profile-sec">
            <div class="dash-image">
                <img src="~/public/images/comment.jpg" alt="">
            </div>
            <div class="dash-content">
                <h4>@Model.UserName</h4>
                <span>Administrators</span>
            </div>
        </div>
    </a>
    <ul class="dropdown-menu">
        <li><a href="#"><i class="sl sl-icon-user"></i>Personal Information</a></li>
        <li><a href="#"><i class="sl sl-icon-power"></i>Sign Out</a></li>
    </ul>
</div>