
@{

    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">

    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="container card">
    <div class="card-body">
        <div class="alert alert-danger alert-dismissible">

            <h5><i class="icon fas fa-ban"></i> Notify!</h5>
            You do not have access!
        </div>
    </div>
</div>