<div class="col-md-2 bg-white" style="height:700px;">

    <ul class="list-unstyled ul-left-menu">
        <li class="border-bottom py-2 row">
            <div class="input-group px-3">
                <input type="text" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                    <button class="btn bg-white border" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </li>
        <li id="contact" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/topic"><i class="fad fa-id-card"></i> Topic</a></li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/post"><i class="fad fa-newspaper"></i> Posts</a></li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Tickets"><i class="fas fa-ticket-alt"></i> Tickets</a></li>

        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Airport"><i class="fas fa-ticket-alt"></i> Airport</a></li>

        <li id="user" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/User"><i class="fas fa-user"></i> Account</a></li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Orders"><i class="fas fa-shopping-basket"></i>Ticket Bookings</a></li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Auth/EditUser"> <i class="fas fa-user-circle"></i> Account Information</a></li>

    </ul>
</div>
<style>
    .ul-left-menu > li > a {
        color: #2E2E2E;
    }
</style>

